/* Forms: */
.form-container {
    background-color: var(--white);
    border-radius: 20px;
    margin: 0 auto;
    padding: 3rem;
    width: 30%;
    display: flex;
    justify-content: center;
}

/* Log In: */
.login-form {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form-input-container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-icon {
    margin: 1rem 1rem 0 0;
}

.password-icon {
    margin: 1rem 1rem 0 0;
}

/* Forms: */
/* Sign Up: */
.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-form-input-container {
    display: flex;
    justify-content: center;
    padding: 0 2vw 0 2vw;
    margin-top: 10px;
}
