.button-container {
    margin: 4rem 0 0 0;
    display: flex;
    justify-content: center;
}

.login-btn-home {
    width: 12rem;
    height: 3rem;
    margin: 0 0 0 2vw;
}

.signup-btn-home {
    width: 12rem;
    height: 3rem;
    margin: 0 2vw 0 0;
}

@media only screen and (min-width: 1024px) {
    
    .login-btn-home {
        width: 18rem;
        height: 3rem;
        margin: 0 0 0 2vw;
    }
    
    .signup-btn-home {
        width: 18rem;
        height: 3rem;
        margin: 0 2vw 0 0;
    }
}
