.home-image-container {
    height: 150px
}

@media only screen and (min-width: 768px) {
    .home-image-container {
        height: 20vw
    }
}

@media only screen and (min-width: 1024px) {
    .home-image-container {
        height: 15vw;
    }
}

@media only screen and (min-width: 1440px) {
    .home-image-container {
        height: 10vw;
    }
}

.home-info-icon {
    background-repeat: no-repeat;
    height: 4rem;
    width: 4rem;
    margin: auto;
    margin-top: 1rem;
}