.single-job-input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-job-input {
    border: none;
    margin: 1vw 1vw 1vw 0;
    border-radius: 5px;
    padding: 12px;
}

.add-note-input {
    border-radius: 5px;
    border-color: lightgrey;
}