.primarybtn {
    background-color: var(--red);
    color: white;
    border-radius: 33px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: 'LatoBold';
    cursor: pointer;
}

.primarybtn:hover {
    background-color: white;
    color: var(--red);
    border: 1px solid var(--red);
}

.secondarybtn {
    background-color: var(--blue);
    color: white;
    border-radius: 33px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: 'LatoBold';
    cursor: pointer;
}

.secondarybtn:hover {
    background-color: white;
    color: var(--blue);
    border: 1px solid var(--blue);
}

.tertiarybtn {
    background-color: var(--white);
    color:var(--black);
    border-radius: 33px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: 'Merriweather';
    cursor: pointer;
}

.quaternarybtn {
    background-color: transparent;
    color: white;
    border-radius: 33px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: 'LatoBold';
    cursor: pointer;
    padding: 0.7rem 3rem;
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    .quaternarybtn {
        font-size: 0.8rem;
        padding: 0.5rem 2rem;
        margin-top: 0.5rem;
    }
}

.home-top-signup {
    border: 1px solid var(--blue);
}

@media only screen and (max-width: 768px) {
    .home-top-signup {
        margin: 0.5rem;
    }
}

.home-top-signup:hover {
    background-color: var(--blue);
}

.home-top-login {
    border: 1px solid var(--red);
    margin-left: 2rem;
}

@media only screen and (max-width: 768px) {
    .home-top-login {
        margin: 0.5rem;
    }
}

.home-top-login:hover {
    background-color: var(--red);
}