.primarybtn {
    background-color: var(--red);
    color: white;
    border-radius: 33px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: 'LatoBold';
    font-size: 1.2rem;
}

.secondarybtn {
    background-color: var(--blue);
    color: white;
    border-radius: 33px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: 'LatoBold';
    font-size: 1.2rem;
}