.home-image {
    height: 100%;
    width: 100%;
}

.expand-job-btn {
    height: 50px;
    width: 50px;
    margin: 30px 10px 0 10px;
}

.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(127deg) brightness(109%) contrast(102%);
}

.edit-icon, .delete-icon {
    height: 15px;
}

/* Mobile screens <768px */
@media only screen and (max-width: 888px) {
    .expand-job-btn {
        height: 40px;
        width: 40px;
        margin: 20px 5vw;
    }
}