.home-image {
    height: 100%;
    width: 100%;
}

.home-background-container {
    width: 100%;
    background-color: var(--darkblue);
    border-bottom: 8px solid var(--red);
}

.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(127deg) brightness(109%) contrast(102%);
}

.filter-green {
    filter: invert(64%) sepia(51%) saturate(5838%) hue-rotate(84deg) brightness(108%) contrast(126%);
}

.filter-blue {
    filter: invert(58%) sepia(79%) saturate(945%) hue-rotate(146deg) brightness(101%) contrast(105%);
}

.filter-red {
    filter: invert(15%) sepia(70%) saturate(5666%) hue-rotate(31deg) brightness(109%) contrast(104%);
}

.edit-icon, .delete-icon {
    height: 15px;
}

