input[type=text], input[type=password], input[type=email] {
    font-family: 'Merriweather';
    padding: 1rem 1rem .25rem 0rem;
    margin: 8px 0;
    border: 0px;
    border-bottom: 1px solid var(--black);
    background-color: var(--white);
    width: 100%;
}