.status-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: lightgrey;
    z-index: 2;
    margin: 25px 5vw 25px 5vw;
}

/* Mobile screens <768px */
@media only screen and (max-width: 888px) {
    .status-circle {
        height: 40px;
        width: 40px;
        margin: 30px 5vw 30px 5vw;
    }
}

.status-complete {
    background-color: rgb(0, 60, 0);
}

.status-active {
    background-color: lightgreen;
}