.brand-title {
    font-family: 'LatoBlackItalic';
    color: var(--black);
    text-transform: lowercase;
    font-size: 5rem;
    margin: 2rem 0 2rem 0;
}

h3 {
    font-family: 'LatoBlack';
    color: var(--white);
    margin: 0 1rem 0 0;
    padding-top: 20px;
    font-size: 1.5rem;
}

.brand-text {
    font-family: 'LatoBlackItalic';
    color: var(--black);
    margin: 0 1rem 0 0;
    padding-top: 20px;
    font-size: 1.5rem;
}

.headline {
    font-family: 'LatoBlack';
    color: var(--black);
    text-transform: uppercase;
}

.para-header {
    font-family: 'LatoBold';
    color: var(--black);
}

.para-highlight {
    font-family: 'LatoLight';
    color: var(--black);
}

.paragraph, p {
    font-size: .9rem;
    font-family: 'Merriweather';
    color: var(--darkblue);
}

.para-info {
    font-size: 1.2rem;
    font-family: 'LatoLight';
    color: var(--darkblue);
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.login-prompt {
    font-family: 'Merriweather';
    color: var(--darkblue);
    font-size: 0.6rem;
}

a {
    text-decoration: none;
}

.updated-title {
    font-family: 'Lobster';
    color: var(--white);
    font-size: 5rem;
    padding: 2rem 0 2rem 0;
    margin: 0;
}

.highlight-text {
    color: var(--red);
}

h4 {
    font-family: 'LatoBlack';
    color: var(--darkblue);
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
}

.footer-text {
    text-align: center;
}
