/* Atomic Block Element Modifier CSS methodology */
/* setup */
/* this temporary file contains the default css packaged with React
As front-end development begins, this file will be removed and styling 
organised by Atomic BEM CSS methodology */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

/* atoms */
/* molecules */
/* organisms */
