
.account-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media only screen and (max-width: 768px) {
    .account-container {
        display: flex;
        flex-direction: column;
    }
}
