.home-info-container {
    margin: 10vw 10vw 0 10vw;
}

@media only screen and (min-width: 1024px) {
    .home-info-container {
        margin: 5vw 2vw 0 2vw;
        display: grid;
        grid-gap: 2vw 6vw;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }

    .home-text-container {
        text-align: left;
    }

    .home-text-container > p {
        font-size: 1rem;
    }

    .home-image-first {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }

    .home-image-second {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }

    .home-image-third {
        grid-column-start: 3;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }

    .home-text-first {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
    }

    .home-text-second {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
    }

    .home-text-third {
        grid-column-start: 3;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
    }
}

@media only screen and (min-width: 1440px) {
    .home-text-container > p {
        font-size: 1.1rem;
    }
}

.home-body-container {
    background-color: var(--white);
    padding: 1rem 2rem;
}

.home-info-holders {
    display: grid;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: 30rem 30rem;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .home-info-holders {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 30rem);
    }
}

.home-info-div {
    box-sizing: border-box;
    width: 25rem;
    height: 25rem;
    margin: auto;
    padding: 3rem 2rem 2rem 2rem;
}

.home-info-div:nth-child(1) {
    background-color: var(--beige);
}

.home-info-div:nth-child(2) {
    background-color: var(--midbeige);
}

.home-info-div:nth-child(3) {
    background-color: var(--beige);
}

@media only screen and (min-width: 1000px) {
    .home-info-div:nth-child(3) {
        background-color: var(--midbeige);
    }
}

.home-info-div:nth-child(4) {
    background-color: var(--midbeige);
}

@media only screen and (min-width: 1000px) {
    .home-info-div:nth-child(4) {
        background-color: var(--beige);
    }
}

.home-info-primary {
    background-color: var(--beige);
}

.home-info-secondary {
    background-color: var(--midbeige);
}

.home-signup-div {
    width: 30%;
    margin: auto;
    padding: 6rem 0 2rem 0;
}