.home-info-container {
    margin: 10vw 10vw 0 10vw;
}

@media only screen and (min-width: 1024px) {
    .home-info-container {
        margin: 5vw 2vw 0 2vw;
        display: grid;
        grid-gap: 2vw 6vw;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }

    .home-text-container {
        text-align: left;
    }

    .home-text-container > p {
        font-size: 1rem;
    }

    .home-image-first {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }

    .home-image-second {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }

    .home-image-third {
        grid-column-start: 3;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }

    .home-text-first {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
    }

    .home-text-second {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
    }

    .home-text-third {
        grid-column-start: 3;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
    }
}

@media only screen and (min-width: 1440px) {
    .home-text-container > p {
        font-size: 1.1rem;
    }
}

.home-body-container {
    background-color: var(--white);
    margin: 1rem 2rem;
    width: 100%;
}

.home-info-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.home-info-primary {
    background-color: var(--beige);
}