.job-card-container {
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    height: 100px;
    margin: 20px;
    flex-wrap: wrap;
}


.job-card-text {
    text-align: left;
    margin-left: 50px;
}

@media only screen and (max-width: 888px) {
    .job-card-text {
        margin: 7px 0 0 10px;
        font-size: .85rem;
    }

    .job-card-container {
        margin: 5px;
    }
}