.logout-container {
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 5vw 20vw;
    margin: 10vw;
}

@media only screen and (max-width: 767px) {
    .logout-container {
      margin: 10vw;
      padding: 5vw 10vw;
    }
    .logout-prompt {
      font-size: 1.5rem;
    }
}

@media only screen and (max-width: 960px) {
    .logout-container {
      margin: 10vw 20vw 10vw 20vw;
      padding: 5vw 10vw;
    }
}

@media only screen and (min-width: 1220px) {
  .logout-container {
    margin: 8vw 30vw;
    padding: 5vw 10vw;
  }
}

@media only screen and (min-width: 1440px) {
    .logout-container {
      margin: 5vw 30vw;
      padding: 5vw 10vw;
    }
}

.check-icon {
    height: 100px;
}

.login-rtn-btn {
    margin: 80px 50px 0 50px; 
    height: 3rem;
    font-size: 1.2rem;
}

.logout-btn {
  height: 2.5rem;
  width: 100%;
  font-size: 1.2rem;
}

.logout-prompt {
  font-family: 'LatoBold';
  color: var(--black);
  margin-bottom: 8vw;
}