/* Login Component */
.login-container {
  background-color: var(--white);
  border-radius: 20px;
  margin: 0 32vw 0 32vw;
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .login-container {
    margin: 0 10vw 0 10vw;
  }
}

@media only screen and (max-width: 960px) {
  .login-container {
    margin: 0 20vw 0 20vw;
  }
}

@media only screen and (min-width: 1440px) {
  .login-container {
    margin: 0 35vw 0vw 35vw;
  }
}

.login-btn {
  margin: 2rem 0 0 0;
  height: 2.5rem;
}

.signup-btn {
    margin: 2rem 0 0 0;
    height: 2.5rem;
}

.password-forgot {
  text-align: right;
  text-decoration: underline;
}