#login_btn {
  margin: 2rem 0 0 0;
  height: 2.5rem;
}

#signup_btn {
    margin: 2rem 0 0 0;
    height: 2.5rem;
}

.login_container {
    background-color: var(--white);
    border-radius: 20px;
    margin: 0 250px 0 250px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#password_forgot {
  text-align: right;
  text-decoration: underline;
}