/* Sign Up Component */
.signup-container {
    background-color: var(--white);
    border-radius: 20px;
    margin: 0 32vw 3vw 32vw;
    padding: 50px 20px 20px 20px;;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .signup-container {
      margin: 0 10vw 3vw 10vw;
    }
}

@media only screen and (max-width: 960px) {
    .signup-container {
      margin: 0 20vw 3vw 20vw;
    }
}


@media only screen and (min-width: 1440px) {
    .signup-container {
      margin: 0 35vw 3vw 35vw;
    }
}

.createacc-prompt {
    text-decoration: underline;
    color: var(--darkblue)
}

.createacc-btn {
    margin: 8vw 0 3vw 0;
    height: 2.5rem;
}
