@media only screen and (max-width: 900px) {
    .test {
        scroll-snap-type: x mandatory;
      }

      .job-detail-card, .application-card, .interview-card {
        height: 100vh;
        width: 70vw;
        scroll-snap-align: start;
      }
}


  .single-job-container { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
    }
