/* Login Container */
.login-container {
  background-color: var(--white);
  // border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10vw;
}

@media only screen and (max-width: 767px) {
  .login-container {
    padding: 25px 25px;
  }
}

@media only screen and (max-width: 960px) {
  .login-container {
    margin: 0 20vw 3vw 20vw;
  }
}

@media only screen and (min-width: 1440px) {
  .login-container {
    margin: 0 35vw 3vw 35vw;
  }
}

/* Log In Form: */
.login-form {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form-input-container {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-forgot {
  text-align: right;
  text-decoration: underline;
}

.email-icon {
  margin: 1rem 1rem 0 0;
}

.password-icon {
  margin: 1rem 1rem 0 0;
}

.login-btn {
  margin: 2rem 0 0 0;
  height: 2.5rem;
  width: 100%;
  font-size: 1.2rem;
}

.signup-btn {
  margin: 2rem 0 0 0;
  height: 2.5rem;
  width: 100%;
  font-size: 1.2rem;
}

.brand-title-small {
  font-family: 'Lobster';
    color: var(--white);
    font-size: calc(4vw + 4vh + 2vmin);
    padding: 2rem 0 2rem 0;
    margin: 0;
}