/* Sign Up Component */
.signup-container {
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .signup-container {
      margin: 0 10vw 3vw 10vw;
    }
}

@media only screen and (max-width: 960px) {
    .signup-container {
      margin: 0 20vw 3vw 20vw;
    }
}


@media only screen and (min-width: 1440px) {
    .signup-container {
      margin: 0 35vw 3vw 35vw;
    }
}

/* Sign Up: */
.signup-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form-input-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.createacc-prompt {
    text-decoration: underline;
    color: var(--darkblue)
}

.createacc-btn {
    margin: 50px 0 25px 0;
    height: 2.5rem;
}
